<article class="post">
    <header>
            <h2 class="post__title"> 
                Lorem ipsum dolor sit amet.
            </h2>
    </header>
    <div class="post__">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur saepe neque ducimus a fugit corrupti suscipit praesentium itaque, vitae voluptatum, deleniti facere culpa, ad corporis autem quos! Optio, a aut, impedit aliquam fugit tempore molestiae commodi nemo aliquid placeat sit quae ratione in eveniet ducimus vero nesciunt quis culpa. A.
    </div>
</article>